Repository DeFiCh/meta.defichain.com, pull requests merged in 2022-09, with the labels that each got.

#35 chore(deps): prettier
  next.config.js
  src/layouts/Base.tsx
  src/styles/globals.css
Labels: area/ui-ux, kind/chore

#39 feature(ui-ux): add nav menu
  .eslintrc
  package-lock.json
  package.json
  public/menu/defichain-com.svg
  public/menu/discord.svg
  public/menu/dmc-explorer.svg
  public/menu/documentation.svg
  public/menu/forum.svg
  public/menu/github.svg
  public/menu/github_2.svg
  public/menu/releases.svg
  public/menu/telegram.svg
  public/menu/twitter.svg
  public/menu/wallets.svg
  public/menu/whitepaper.svg
  public/menu/youtube.svg
  public/portal-gradient-1.png
  src/components/home/Box.tsx
  src/components/home/Header.tsx
  src/components/home/NavMenu.tsx
  src/components/ui/Button.tsx
  src/styles/globals.css
  tailwind.config.js
Labels: area/ui-ux, kind/feature

#40 refactor(navmenu): improve NavMenuItem structure
  public/menu/github.svg
  src/components/home/NavMenu.tsx
Labels: area/ui-ux, kind/refactor

#52 feature(ui-ux): add content for first two sections
  .eslintrc
  package-lock.json
  package.json
  public/background/gradient-2.png
  public/background/gradient-3.png
  public/background/gradient-4.png
  public/background/gradient-5.png
  public/background/mobile-gradient-2.png
  public/background/mobile-portal-gradient-1.png
  public/background/portal-gradient-1.png
  public/background/tablet-gradient-2.png
  public/background/tablet-gradient-3.png
  public/background/tablet-portal-gradient-1.png
  public/dmc-hackathon.png
  public/jellyfish.gltf
  public/mainnet-launch.png
  public/portal-gradient-1.png
  public/testnet-launch.png
  public/textures/Jelly_emissive.jpeg
  src/components/home/Box.tsx
  src/components/home/Header.tsx
  src/components/home/Jellyfish.tsx
  src/components/ui/Button.tsx
  src/styles/globals.css
Labels: area/ui-ux, kind/feature

#56 feature(ui-ux): add content for section three
  public/background/mobile-gradient-3.png
  public/background/mobile-gradient-4.png
  public/background/tablet-gradient-4.png
  public/home/dmc-hackathon.png
  public/home/mainnet-launch.png
  public/home/single-cube.svg
  public/home/testnet-launch.png
  public/home/triple-cube.svg
  src/components/home/Header.tsx
  src/components/home/Jellyfish.tsx
  src/components/home/SectionHeader.tsx
  src/components/home/SectionOne.tsx
  src/components/home/SectionThree.tsx
  src/components/home/SectionTwo.tsx
  src/pages/index.tsx
  src/styles/globals.css
Labels: area/ui-ux, kind/feature

#62 feature(ui-ux): add content for section four
  netlify.toml
  package-lock.json
  package.json
  public/background/tablet-gradient-5.png
  public/home/clay-block.png
  public/home/clay-dfi.png
  public/home/clay-dollar.svg
  public/home/clay-wallet.svg
  src/components/home/SectionFour.tsx
  src/components/home/SectionOne.tsx
  src/components/ui/GradientText.tsx
  src/pages/index.tsx
  src/styles/globals.css
Labels: area/ui-ux, kind/feature

#66 feature(ui-ux): add content for section five
  public/home/discord.svg
  public/home/github.svg
  public/home/telegram.svg
  public/home/twitter.svg
  public/home/youtube.svg
  src/components/home/Header.tsx
  src/components/home/Jellyfish.tsx
  src/components/home/SectionFive.tsx
  src/components/home/SectionFour.tsx
  src/components/home/SectionOne.tsx
  src/components/home/SectionThree.tsx
  src/components/home/SectionTwo.tsx
  src/pages/index.tsx
Labels: kind/feature

#74 chore(setup): add sitemap
  .github/workflows/ci-e2e.yml
  next-sitemap.config.js
  package-lock.json
  package.json
  public/robots.txt
Labels: kind/chore

#75 feature(ui-ux): add content for footer
  public/background/footer-tablet.png
  public/background/footer-xl.png
  public/background/footer.png
  public/background/mobile-footer.png
  src/components/home/Footer.tsx
  src/components/home/NavMenu.tsx
  src/pages/index.tsx
Labels: kind/feature

#80 feature(ui-ux): add parallax scroll
  package-lock.json
  package.json
  src/components/home/Footer.tsx
  src/components/home/SectionOne.tsx
  src/components/home/SectionThree.tsx
  src/layouts/Base.tsx
  src/pages/index.tsx
Labels: kind/feature

#83 feature(ui-ux): add anchor link
  src/components/home/AnchorLink.tsx
  src/components/home/NavMenu.tsx
  src/helpers/Debounce.ts
  src/pages/index.tsx
  src/styles/globals.css
Labels: kind/feature

#89 chore(setup): setup renovate
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .github/workflows/oss-governance-bot.yml
  .github/workflows/oss-governance-labeler.yml
  .github/workflows/oss-governance-labels.yml
Labels: kind/chore
