Repository DeFiCh/meta.defichain.com, pull requests merged in 2022-11, with the labels that each got.

#160 fix(ui-ux): anchor in tablet view
  package.json
  src/components/home/SectionOne.tsx
  src/layouts/Base.tsx
  src/pages/index.tsx
Labels: kind/fix

#161 feature(build): upgrade to nextjs 13
  package-lock.json
  package.json
  src/components/home/Footer.tsx
  src/components/home/Header.tsx
  src/components/home/NavMenu.tsx
  src/components/home/SectionFive.tsx
  src/components/home/SectionFour.tsx
  src/components/home/SectionThree.tsx
  src/components/home/SectionTwo.tsx
Labels: kind/feature

#165 chore(test): add testid to section header
  src/components/home/SectionFive.tsx
  src/components/home/SectionFour.tsx
  src/components/home/SectionHeader.tsx
  src/components/home/SectionOne.tsx
  src/components/home/SectionThree.tsx
  src/components/home/SectionTwo.tsx
Labels: kind/chore

#185 fix(build): revert netlify nextjs plugin
  package-lock.json
  package.json
Labels: kind/fix

#186 fix(ui-ux): nav bar display in multiple row
  src/components/home/Header.tsx
  src/components/home/NavMenu.tsx
Labels: kind/fix

#202 chore(deps): upgrade cypress to ^11.1.0
  package-lock.json
  package.json
Labels: kind/chore

#207 feature(ui-ux): add countdown UI
  .eslintrc
  public/dmc_share.png
  public/logo.svg
  src/components/home/CountdownTimer.tsx
  src/components/home/Header.tsx
  src/components/home/Logo.tsx
  src/components/siteInfo.ts
  src/helpers/DurationHelper.ts
  src/layouts/Base.tsx
  src/pages/index.tsx
Labels: kind/feature

#189 chore(e2e): header, footer and homepage tests
  .eslintrc
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/3-general.md
  .github/ISSUE_TEMPLATE/4-ui-ux-improvements.md
  .github/ISSUE_TEMPLATE/5-translation-improvements.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/governance.yml
  .github/labels.yml
  .github/renovate.json
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .github/workflows/oss-governance-bot.yml
  .github/workflows/oss-governance-labeler.yml
  .github/workflows/oss-governance-labels.yml
  .github/workflows/stale.yml
  .imgbotconfig
  cypress.config.js
  cypress/.eslintrc
  cypress/e2e/components/footer.spec.ts
  cypress/e2e/components/header.spec.ts
  cypress/e2e/pages/index.spec.ts
  cypress/e2e/specs/homepage.spec.ts
  cypress/fixtures/footer.ts
  cypress/fixtures/header.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  next-sitemap.config.js
  next.config.js
  public/models/UnderwaterDrone.gltf
  public/models/jellyfish.gltf
  src/components/home/Footer.tsx
  src/components/home/NavMenu.tsx
  src/components/home/SectionFour.tsx
  src/components/home/SectionHeader.tsx
  src/components/home/SectionOne.tsx
  src/components/home/SectionThree.tsx
  src/components/home/SectionTwo.tsx
  src/pages/index.tsx
  src/styles/globals.css
  tailwind.config.js
  tsconfig.json
Labels: kind/chore

#211 chore(ui-ux): update text, metadata, favicon
  cypress/e2e/components/footer.spec.ts
  cypress/e2e/components/header.spec.ts
  cypress/e2e/specs/homepage.spec.ts
  cypress/fixtures/homepage.ts
  public/dmc_share.png
  public/favicon-36x36.png
  public/favicon.ico
  public/favicon.png
  src/components/home/Header.tsx
  src/components/home/Logo.tsx
  src/components/home/SectionOne.tsx
  src/components/home/SectionThree.tsx
  src/components/home/SectionTwo.tsx
  src/components/siteInfo.ts
  src/layouts/Base.tsx
  src/pages/index.tsx
Labels: kind/chore

#212 chore(meta): add host to meta tag image path
  src/layouts/Base.tsx
  src/pages/index.tsx
Labels: kind/chore

#217 chore(deps): update description
  src/components/siteInfo.ts
Labels: kind/chore

#220 fix(ui-ux): display nothing if webgl is disabled
  src/components/home/Jellyfish.tsx
  src/components/home/UnderwaterDrone.tsx
  src/hooks/useWebGlEnabled.ts
Labels: kind/fix

#221 chore(redirect): redirect from defimetachain.org
  public/_redirects
Labels: kind/chore

#224 chore(e2e): Removed countdown check with release
  cypress/e2e/components/footer.spec.ts
  cypress/e2e/components/header.spec.ts
  cypress/e2e/specs/homepage.spec.ts
  cypress/fixtures/homepage.ts
Labels: kind/chore

#225 fix(ui-ux): update discord link
  cypress/fixtures/footer.ts
  cypress/fixtures/header.ts
  src/components/home/NavMenu.tsx
  src/components/home/SectionFive.tsx
Labels: kind/fix
